/* Lazy tree selectors */

.lazy-tree {
  width: auto;
  margin: 0;
  padding: 0;
}

.lazy-tree a {
  color: #151515;
  white-space: nowrap;
}

.lazy-tree a:focus {
  outline: thin dotted;
}

.lazy-tree,
.lazy-tree .lazy-subtree {
  padding-left: 0;
}

.lazy-tree .lazy-subtree {
  margin-left: 16px;
}

.lazy-tree .leaf,
.lazy-tree .open,
.lazy-tree .closed {
  background: url(../../img/tree/i-repeater.gif) 0 0 repeat-y;
}

.lazy-tree .last {
  background-image: none;
}

.lazy-tree .open > span.a,
.lazy-tree .closed > span.a {
  background: url(../../img/tree/l.gif) 0 -15px no-repeat;
}

.lazy-tree .open > span.a > span.b {
  background: url(../../img/tree/minus.gif) 0 -15px no-repeat;
}

.lazy-tree .open > span.a > span.b > span.c {
  background: url(../../img/tree/page-openfoldericon.png) 16px 0 no-repeat;
  background-size: 16px;
  cursor: pointer;
  padding-left: 34px;
}

.lazy-tree .closed .lazy-subtree {
  display: none;
}

.lazy-tree .closed > span.a > span.b {
  background: url(../../img/tree/plus.gif) 0 -15px no-repeat;
}

.lazy-tree .closed > span.a > span.b > span.c {
  background: url(../../img/tree/page-foldericon.png) 16px 0 no-repeat;
  background-size: 16px;
  padding-left: 34px;
  cursor: pointer;
}

.lazy-tree .leaf > span.a > span.b {
  background: url(../../img/tree/t.gif) 0 50% no-repeat;
}

.lazy-tree .leaf.last > span.a > span.b {
  background: url(../../img/tree/l.gif) 0 50% no-repeat;
}

.lazy-tree .leaf > span.a > span.b > span.c {
  background: url(../../img/tree/page-file.png) 17px 0 no-repeat;
  background-size: 16px;
  overflow: hidden;
  padding-left: 34px;
}

/* TW-20880 */
.lazy-tree .leaf.last > span.a,
.lazy-tree .leaf.last > span.a > span.b {
  display: block;
}

.lazy-tree .filesize {
  margin-left: 0.5em;
  color: #3F3F3F;
  font-size: 80%;
}

.lazy-tree .emptyMessage {
  font-style: italic;
  color: #888;
}

.lazy-tree .tree-error {
  color: #ed2c10;
  padding-left: 16px;
}

/* Archives */

.lazy-tree .closed > span.a > span.b > span.c.archive {
  background: url(../../img/tree/archive.png) 16px 0 no-repeat;
  background-size: 16px;
}

.lazy-tree .open > span.a > span.b > span.c.archive {
  background: url(../../img/tree/openArchive.png) 16px 0 no-repeat;
  background-size: 16px;
}

/* File browse */

.fileBrowse {
  width: 70%;
}

.headMessage {
  margin: 0.6em 0;
}

.headMessage div.downloadLink {
  float: right;
}

.headMessage div.downloadLink a.downloadLink {
  float: none;
}

.fileBrowse .upload {
  margin-top: 1em;
}

.fileBrowse .fileName {
  font-weight: bold;
}

.fileBrowse .fileSize {
  color: #888888;
}

.fileBrowse .fileOperations {
  color: #999999;
  margin-left: 2em;
  white-space: nowrap;
}

.fileBrowse .fileOperations a {
  margin: 0 2px;
}

.fileBrowse .fileOperations a.downloadLink {
  float: none;
}

.fileBrowse pre {
  clear: both;
}

.uploadDialog input {
  margin-left: 0.5em;
}

.uploadDialog .runnerFormTable .smallNote,
#uploadError {
  margin: 0.2em 0 0 0.6em;
}

.uploadDialog th {
  text-align: left;
}

.uploadDialog #fileName,
.uploadDialog #destination {
  width: 25em;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 200 / 100),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .lazy-tree .closed > span.a > span.b > span.c {
    background-image: url(../../img/tree/page-foldericon@2x.png);
  }

  .lazy-tree .open > span.a > span.b > span.c {
    background-image: url(../../img/tree/page-openfoldericon@2x.png);
  }


  .lazy-tree .closed > span.a > span.b > span.c.archive {
    background-image: url(../../img/tree/archive@2x.png);
  }

  .lazy-tree .open > span.a > span.b > span.c.archive {
    background-image: url(../../img/tree/openArchive@2x.png);
  }

  .lazy-tree .leaf > span.a > span.b > span.c {
    background-image: url(../../img/tree/page-file@2x.png);
  }
}
