/*------------ history list table ----------*/
table.historyList {
  margin-bottom: 10px;
}

table.historyList th {
  padding-left: 2px;
}

table.historyList th.autopin {
  width: 2em;
}

table.historyList th:last-child {
  width: 4em;
}

table.historyList td.branch {
  padding: 0;
}

table.historyList td.branch.hasBranch,
table.historyList td.branch.default {
  width: 8.5em;
  padding: 0.3em 2px 0.3em 0;
}

table.historyList th.branch.hasBranch,
table.historyList th.branch.default {
  padding-left: 1em;
}

table.historyList th.buildNumber,
table.historyList td.buildNumber {
  width: auto !important;
  padding-left: 1em;
}

table.historyList td.nowrap {
  white-space: nowrap;
}

table.historyList td {
  padding: 0.3em 6px 0.3em 2px;
  vertical-align: top;
}

table.historyList .unpinLink {
  font-size: 80%;
}

table.historyList td.detachedChanges {
  color: #888;
  font-style: italic;
}

table.historyList td.pin>.wrapper{
  position: relative;
  padding-right: 2px;
}

table.historyList td.pin .unpinLink {
  display: none;
  position: absolute;
  left: 18px;
  top: 2px;
  font-size: 100%;
}

table.historyList td.pin:hover .unpinLink {
  display: block;
}

.pinComment {
  width: 200px;
}

.historyList tr.highlight > td {
  background-color: #ffc;
}

.buildDuration {
  display: inline-block;
  min-width: 54px;
  text-align: right;
}