img.projectIcon {
  visibility: hidden;
  padding: 3px 2px 0 3px;
}

td.buildNumber {
  width: 5em;
}

.build .build {
  margin-left: 2.2em;
}

/* Hide link from the overview page */
a.noCompatibleAgentsLink {
  display: none;
}

.configure-visible-message {
  margin-left: 5px;
}

.idented-paragraph {
  margin: 2em 0 0;
}

ul.startPage {
  margin: 0;
  padding: 0;
}

ul.startPage li {
  list-style-type: circle;
  margin: 0 0 0 2em;
  padding: 5px 0 0;
}

span.addMessage {
  margin-right: .5em;
  color: #888;
}

/* New projects bar */
#toolbar {
  text-align: center;
}

#new-projects,
#overview-projects {
  display: inline-block;
  margin: 0 auto;
  padding: 2px 1.5em;
  background: #ffc;
  text-align: center;
}

#new-projects .middle-link {
  margin: 0 1.5em;
}

#new-projects-list {
  min-width: 25em;
}

#new-projects-list td {
  text-align: right;
}

#new-projects-list .project-link {
  text-align: left;
  color: #888;
}

#new-projects-list .project-link a {
  font-weight: bold;
}

#overview-projects .dismiss-link {
  margin-left: 1.5em;
}

.projectHeaderTable .search-panel{
  font-size: 13px;
}

