div.divider {
  border: none;
  margin: 0 0 1em;
}

#content {
  margin-top: 1em;
}

#profilePage {
  background-color: white;
  padding: 0;
}

#modifiedMessage {
  float: none;
}

.input-wrapper_email {
  white-space: nowrap;
}

#emailVerificationControls {
  margin-left: 0.5em;
  white-space: nowrap;
  width: 60px;
  display: inline-block;
}

.verified {
  color: green;
}

/*----------------- useful sidebar links block*/
#sidebar {
  float: right;
  width: 20em;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
}

/*---------------- sidebar styles */
#sidebar .tools-wrapper {
  margin: 1.5em 1em;
  padding: 0;
}

#sidebar .tools-wrapper h3 {
  margin: 0 0 1em;
  padding: 0;
  font: normal 150% Trebuchet MS, Verdana, Tahoma, Arial, sans-serif;
  color: #000;
}

#sidebar .tools-wrapper p.toolTitle,
#sidebar .tools-wrapper > a {
  padding-left: 2em;
}

#sidebar .tools-wrapper p.toolTitle {
  margin: 0;
}

#sidebar .tools-wrapper .links {
  margin-left: 2em;
  margin-top: 0;
}

/* ------------- end*/

.general-property label.tableLabel {
  display: inline-block;
  float: none;
  width: 16em;
}

#profilePage .textField {
  width: 20em;
}

#profilePage .tc-icon_edit_gray {
  margin-left: 1em;
}

#profilePage .settingsBlockContent .ui-settings__label {
  display: block;
  padding: 0 0 0.5em;
}

.notifierSection {
  margin-bottom: 1.6em;
}

.notifierSection:last-child {
  margin-bottom: 0;
}

.notifierSection .notifierSection__title {
  margin-bottom: 0.6em;
}

.notifierSection .notifierSection__title .notifierSection__title-text {
  width: 16em;
  padding: 0;
  margin: 0;
  border-bottom: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
}

.notifierSection .notifierSection__title .rulesDescription {
  display: inline-block;
  margin-bottom: 0;
}

.notifierSection .notifierSection__title .rulesDescription.rulesDescription_no-rules {
  font-style: italic;
  color: #808080;
}

.notifierSection .notifier-property {
  margin-left: 2em;
  margin-bottom: 1em;
}

.notifierSection .notifier-property label.notifier-property__label {
  float: left;
  width: 14.3em;
}

.notifierSection .attentionCommentNotifier {
  margin-top: 0;
}

.notifierSection a.editNotifierSettingsLink {
  font-size: 0.666em;
  margin: 0;
}

.notifierSection .editNotifierSettingsLink .tc-icon_edit_gray {
  margin-bottom: 0;
}

/*----------- end*/

/*--------------- create user account table */

div.stayMessage {
  padding-top: 5px;
  padding-left: .5em;
  font-size: 90%;
}

#vcsUsernames {
  margin-top: 1em;
}

.userGroupsContainer, .vcsUsernamesContainer {
  width: 80%;
}

.vcsUsernamesContainer th.vcsRoot {
  width: 50%;
}

table.userProfileTable {
  width: 100%;
}

table.userProfileTable th {
  background-color: #f5f5f5;
  padding-left: 1em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table.userProfileTable td {
  text-align: left;
  padding-left: 1em;
  vertical-align: top;
}

table.userProfileTable th.unassign,
table.userProfileTable td.unassign {
  width: 1%;
  padding: 0;
  text-align: center;
}

table.settings.userRolesTable {
  width: 100%;
}

.attentionCommentNotifier {
  width: auto;
}

.sortable.emailVerification, .sortable.lastLoginTime{
  white-space: nowrap;
  text-align: right;
}

.highlight.emailVerification .icon-ok {
  color: green;
  margin-right: 2em;
}

/*----------------- styles for the t2x2.tag */
table.userSettingsTable {
  width: 100%;
}

table.userSettingsTable td.t {
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.input-wrapper[data-error] {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
}

.input-wrapper:after {
  content: attr(data-error);
  color: #ed2c10;
  position: absolute;
  left: 0;
  top: 1.8em;
  white-space: nowrap;
}