table.modificationBuilds {
  width: 99%;
  border-collapse: collapse;
  table-layout: auto;
}

table.modificationBuilds tr td {
  border-bottom: none;
  padding-top: 2px;
}

table.modificationBuilds tr td.buildTypeName {
  width: 25em;
}

table.modificationBuilds tr td.buildNumber {
  white-space: nowrap;
  width: 7em;
}

table.modificationBuilds tr td.estimate {
  white-space: wrap;
  padding-left: 0.5em;
  width: 150px;
}

table.modificationBuilds tr td.status {
  white-space: nowrap;
  min-width: 150px;
}

table.modificationBuilds tr td.stopBuild {
  text-align: right;
  width: 5em;
}

table.modificationBuilds tr td.buildPrefix {
  white-space: nowrap;
  width: 8em;
  text-align: right;
}

table.modificationBuilds tr td.startDate {
  white-space: nowrap;
  text-align: right;
  width: 10em;
}

table.modificationBuilds tr td.duration {
  text-align: right;
  width: 10em;
  white-space: nowrap;
}

table.modificationBuilds tr td.finishedBuildDuration {
  text-align: right;
  width: 5em;
  white-space: nowrap;
  font-size: 95%;
  color: #888;
}

table.modificationBuilds tr td.branch {
  width: 8.5em;
  padding-right: 1em;
}

table.modificationBuilds tr td.changesLink {
  text-align: right;
  padding-right: 2em;
  width: 12em;
}

table.modificationBuilds tr.buildTypeProblem {
  padding-left: .5em;
  border-bottom: #dbdbdb 1px solid;
  vertical-align: top;
}

table.modificationBuilds tr.nosplit{
  border-bottom: none !important;
}

table.modificationBuilds tr.nosplit td.buildTypeName{
  border-bottom: #dbdbdb 1px solid;
}

table.modificationBuilds tr td {
  vertical-align: top;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.modificationBuilds .buildTypeProblem div.rightright {
  float: right;
  text-align: right;
}

.modificationBuilds .buildTypeProblem div.right span.date {
  display: inline-block;
  width: 8em;
  margin-left: 2em;
}

.modificationBuilds .buildTypeProblem div.right span.highlightChanges {
  left: 0;
}

.modificationBuilds .respCell {
  max-width: 1px;
  padding: 5px 5px;
}

.modificationBuilds .problemCell {
  width: 75%;
}

.modificationBuilds.hasBranches .branch {
  display: inline-block;
  padding-right: 0.5em;
}

table.statusTable {
  margin-bottom: 10px;
}

.statusTable td {
  padding-bottom: .75em;
  padding-left: .5em;
  vertical-align: top;
}

.statusTable .changeComment {
  font-weight: bold;
}

.statusTable .caption {
  width: 6%;
  white-space: nowrap;
}

.statusTable .caption.right {
  padding-right: .5em;
  text-align: right;
}

.statusTable .progress {
  background-color: #f3f3f3;
  border: 1px solid #f9f9f9 ;
}

tr.header td {
  vertical-align: top;
}

tr.header td div {
  background-color: #f5f5f5;
  padding: 0 .5em .2em .5em;
  line-height: 2.2em;
}

tr.header td.first div {
  width: 90%;
}

#helperSection {
  float: right;
  position: relative;
  top: -1px;
  padding: .3em 10px;
}

.changeHeader {
  display: none;
}

#helperSection .changeHeader {
  display: block;
}

/* TW-11046. See also myChanges.css */
div.vcsModificationTabContainer .new {
  background-image: none;
  margin-left: 5px;
  font-weight: normal;
}

td.pendingRow {
  padding: 3px;
  border-bottom: 1px solid #E7E7E7;
}

.newTestsInfo,
.noNewTests {
  clear: both;
  margin: 10px 10px 0;
}

div.vcsModificationTabContainer .vcsModificationFilesList {
  max-width: 85%;
}

div.vcsModificationTabContainer .vcsModificationFilesList table.changedFiles td.fileTD {
  white-space: normal;
}

/* Style for highlighting the current root if modification was detected in several roots */
span.currentVcsRoot {
  font-weight: bold;
}

p#oldTests {
  margin-top: .5em;
}

.hideSuccessfulBlock {
  margin: 10px 10px 0;
}

.label{
  color: #808080;
}

.edit-icon {
  margin-left: 4px;
  position: relative;
  top: 1px;
  color: #151515;
}
.edit-icon:hover {
  text-decoration: none;
}