table.parametersTable .checkbox {
  width: 30px;
  padding: 5px 0;
  text-align: center;
}
table.parametersTable .checkbox input {
  margin: 0;
}

table.parametersTable th.sourceBuildType,
table.parametersTable th.artifactsSource {
  width: 35%;
}

table.parametersTable td.destPath {
  width: 18%;
}

ul.artifactsPaths {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

ul.artifactsPaths li {
  list-style: none;
}

#artifactDependencyForm {
  margin: 0;
}

#artifactDependencyForm div.formContainer {
  background-color: #f5f5f5;
  width: 650px;
  margin: 2em 0 0 0;
  padding: 1em;
  border-top: 3px solid #E3E9EF;
}

table.artifactDependencyFormTable {
  width: 99%;
}

table.artifactDependencyFormTable td.header {
  width: 9em;
  vertical-align: top;
}

table.artifactDependencyFormTable td.header label {
  width: 9em;
}

table.artifactDependencyFormTable td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.buildNumberPattern {
  margin-top: 1.1em;
}

#artifactDependencyForm ul.artifactsPaths li {
  list-style: none;
  padding-bottom: 0.3em;
}

#dependencyResolverMessages {
  padding-top: 1em;
  padding-bottom: 1em;
}

.dependencyResolverMessagesLog {
  background-color: #F5F5F5;
  margin-top: 1em;
  font-size: 11px;
}

.dependencyResolverMessagesLog .errorMessage,
.downloadStats .errorMessage {
  color: #ED2C10;
}

.dependencyResolverMessagesLog .warnMessage {
  color: #C47003;
}

.downloadStats {
  margin-top: .5em;
}

#enterCredentialsDialog table {
  width: 100%;
  margin-top: 0.5em;
}

#enterCredentialsDialog table input {
  width: 100%;
}

.sourceDependenciesDialog table {
  width: 100%;
  padding: 3px;
}

.sourceDependenciesDialog table th {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

.sourceDependenciesDialog table td #srcDependOn {
  width: 400px;
}

table.dependencyActions td {
  padding: 0.4em 0 0.4em 0;
}

table.dependencyActions td.moreActions {
  padding-top: 0.5em;
  padding-left: 2em;
}

div.failedDependencyOption {
  padding-top: 0.5em;
}

div.failedDependencyOption label {
  width: 14em;
  display: inline-block;
}

div.failedDependencyOption select {
  width: 15em;
  vertical-align: top;
}

td.optionsCell, th.optionsCell {
  padding-top: 1em;
}
