#reportsLayout {
  width: 100%;
  border-collapse: collapse;
}

#reportsLayout td {
  vertical-align: top;
}

#reportsLayout td.categories {
  width: 360px;
}

#reportsLayout td.selected-category {
  padding-left: 20px;
}

.category-list {
  border: 1px solid #E3E9EF;
}

.category-list .item {
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px dotted #CCC;
}

.category-list .item:hover {
  cursor: pointer;
  background: #FFC;
}

.category-list .item .found {
  font-size: 90%;
}

i.itemSeverity {
  color: #0085FF;
  margin-right: 4px;
}

.itemSeverity.tc-icon {
  margin-right: 0;
}

.category-list .item.active {
  background: #F9FCFF;
}

.category-list .item.active .name a {
  font-weight: bold;
  color: #151515;
}

.healthStatusItem ul {
  list-style-position: inside;
  margin: 1em 0;
}

.healthStatusHide {
  width: 5%;
  text-align: right;
  white-space: nowrap;
}

table.healthItemsTable {
  width: 100%;
}

table.healthItemsTable tr.beforeHiddenItems td {
  border: none;
}

table.healthItemsTable .hiddenItem .healthStatusItem {
  color: #999;
}

table.healthItemsTable .hiddenItem .healthStatusItem a {
  opacity: 0.7;
}

table.healthItemsTable td {
  padding: 10px;
  border-top: 1px dotted #CCC;
  vertical-align: top;
}

table.healthItemsTable tr:last-child td {
  border-bottom: 1px dotted #CCC;
}

table.healthItemsTable td i.itemSeverity {
  display: block;
  float: left;
  clear: both;
  width: 1.5em;

  margin-top: 3px; /* Align icon with the following text */
  margin-right: 0;
}

table.failedToStart {
  width: 100%;
  padding: 0;
  margin: 0;
}

table.failedToStart td {
  border: none;
  padding: 3px;
  margin: 0;
}

table.failedToStart td.buildTypeName {
  width: 30%;
}

div.vcsError {
  padding: 3px;
}

table.reportsTable {
  width: 100%;
}

table.reportsTable td {
  vertical-align: top;
}

table.cleanCheckout {
  width: 100%;
  padding: 0;
  margin: 0;
}

table.cleanCheckout td {
  border-top: none;
  border-right: none;
}

table.cleanCheckout td.sourceBt {
  width: 30%;
}

.full-health-item {
  display: none;
}

.healthItemsTable .full-health-item {
  display: block;
}

table.healthItemsTable table.health-report-mini-table th {
  border: none;
  padding-bottom: 0;
  padding-left: 0;
}

table.healthItemsTable table.health-report-mini-table td {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
}
