/* --------------- clouds table -- */
div.right_info_pane {
  clear: right;
  float: right;
  width: 25%;
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #eee;
}

.cloud-profiles-header ._inline-block+._inline-block {
  margin-left: 1em;
}

p.profileHeader {
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  width: 80%;
  margin-bottom: 0.5em;
}

div.right_info_pane .statusInfo {
  padding-bottom: 4px;
}

div.cloudProfile {
  width: 80%;
}

div.cloudAdminProfile{
  clear: both;
}

.projectContent div.cloudProfile {
  width: 100%;
}

p.profileHeader span.profileRunning {
  float: right;
}

div.cloudAdminProfile span.profileRunning {
  float: right;
  margin-right: 1em;
}

div.cloudProfileContent span.error {
  margin-left: 0;
}

table.cloudSettings {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;

  margin-top: 1em;
  margin-bottom: 1ex;
}

table.cloudSettings tr.header {
  background-color: #f5f5f5;
}

table.cloudSettings td, table.cloudSettings th {
  padding: 3px 3px 3px 0.5em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
}

table.cloudSettings td.edit {
  text-align: center;
}

table.cloudSettings td.buttons {
  width: 13%;
  text-align: right;
}

table.cloudSettings td.buttons input {
  width: 4em;
}

table.cloudSettings td.buttons a {
  padding-right: 1.5em;
}

table.cloudSettings tr.image,
table.cloudSettings tr.adminHeader {
  background-color: #f5f5f5;
  margin-top: 3px;
  font-weight: bold;
}

table.cloudSettings tr.instance,
table.cloudSettings tr.noInstance {
  font-weight: normal;
}

table.cloudSettings td.instanceName {
  padding-left: 2em;
}

.instanceName .instanceName__icon {
  display: inline-block;
  width: 9px;
  height: 16px;
}

.instanceName .instanceName__icon:before,
.instanceName .instanceName__icon:after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #a6a6a6;
  box-shadow: 0 0 1px 0 #a6a6a6;
  margin-left: 2px;
}

.instanceName .instanceName__icon:before {
  margin-top: 4px;
  margin-bottom: 1px;
}

.instanceName .instanceName__icon:after {
  margin-top: 0;
}

.instanceName .instanceName__icon.red:before,
.instanceName .instanceName__icon.yellow-red:before {
  background-color: #f56a54;
  box-shadow: 0 0 1px 0 #fccbc4;
}

.instanceName .instanceName__icon.green:after,
.instanceName .instanceName__icon.yellow-green:after {
  background-color: #36b75a;
  box-shadow: 0 0 1px 0 #9bdbad;
}

.instanceName .instanceName__icon.yellow:before,
.instanceName .instanceName__icon.yellow:after {
  background-color: #ff8c00;
  box-shadow: 0 0 1px 0 #ffd7ad;
}

.instanceName .instanceName__icon.yellow-green:before,
.instanceName .instanceName__icon.yellow-red:after {
  background-color: #ff8c00;
  box-shadow: 0 0 1px 0 #ffd7ad;
}

table.cloudSettings td.instanceNameGrayed {
  color: #888;
}

table.cloudSettings td.instanceName span.selected {
  text-decoration: underline;
}

span.cloud_error {
  float: none;
}

table.cloudSettings td.noRightBorder {
  border-right: none;
}

div#cloudErrorsPopup {
  overflow: auto;
  width: 30em;
  max-height: 20em;
}

div#cloudErrorsPopup div.spacer {
  width: 30em;
}

div#cloudErrorsPopupDetails {
  padding-top: 5px;
}

div#cloudErrorsPopup div.cloudHeader {
  clear: both;
  font-weight: bold;
}

div.newProfileFormDialog table .textProperty {
  width: 23em;
}

div.newProfileFormDialog table select {
  width: 23.4em;
}

div.newProfileFormDialog span.error,
div.newProfileFormDialog span.smallNote {
  margin-left: 0;
}

div.newProfileFormDialog table {
  width: 100%
}

div.newProfileFormDialog table th {
  vertical-align: top;
  text-align: left;
}

div.newProfileFormDialog .runnerFormTable th label {
  display: block;
  width: 10em;
  vertical-align: top;
  text-align: left;
}

table.cloudSettings tr.image_details td dl {
  margin: 0;
  padding: 0;
}

table.cloudSettings tr.image_details td dt {
  clear: both;
  float: left;
  min-width: 10em;
  margin: 0;
  padding: 0;
}

table.cloudSettings tr.image_details td dd {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#terminateInstancesCheckbox {
  margin-left: 1em;
}

table.parametersTable td.disabledProfile {
  color:#888;
  font-style: italic;
}

#terminateConditionsTd div.terminateCondition {
  margin-bottom: 4px;
  min-height: 20px;
}

#terminateConditionsTd div.terminateCondition input[type='text'] {
  line-height: 1em;
}
/*-------- end*/