header = '<?xml version="1.0"?>\n<log>\n'
footer = '</log>\n'

changeset = '<logentry revision="{rev}" shortnode="{node|short}" branch="{branches}">\n{parents}<author original="{author|xmlescape}"/>\n<date>{date|date|xmlescape}</date>\n<msg xml:space="preserve">{desc|xmlescape}</msg>\n<paths>\n{files}</paths>\n</logentry>\n'

file  = '<path action="M">{file|xmlescape}</path>\n'

parent = '<parent revision="{rev}" shortnode="{node|short}"/>\n'

branch = '{branch|xmlescape}'
